/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#main-grid>section.header {
		grid-column: span 12;
		grid-row: 1;
	}

	/* =================== products =================== */
	#main-grid>section.products {
		grid-column: span 9;
		grid-row: 2;
		padding: 2rem;
	}

	section.products>.products.list>.container {
		grid-template-columns: repeat(6, 1fr);
	}

	section.products .product.card {
		font-size: 1em;
	}

	section.products .product.card {
		grid-column: span 2;
	}

	/* =================== cart =================== */
	#main-grid>section.cart {
		position: relative;
		grid-column: span 3;
		grid-row: 2;
		width: 100%;
		background-color: var(--primary-white);
		padding: 2rem;
	}

	section.cart .content {
		position: sticky;
		top: 0;
	}

	section.cart .order-items {
		display: block;
		padding-top: 2rem;
		margin-bottom: 1rem;
		border-bottom: var(--primary-border);
	}

	section.cart .order-items .order-item {
		font-size: 0.8em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 0.5rem;
	}

	section.cart .order-items .order-item .name {
		margin-right: 1rem;
	}

	section.cart .order-items .order-item .delete-btn {
		margin-left: 1rem;
		background-color: green;
		cursor: pointer;
	}

	section.cart .totals {
		padding-bottom: 2rem;
	}

	section.cart .totals button {
		margin-top: 2rem;
	}
}