/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {

	/* ---------- header ---------- */
	section.header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	section.header >.content {
		padding-top: 6rem;
	}

	/* ---------- about ---------- */
	#main-grid>section.about {
		padding: 3rem;
	}

	/* ---------- menu ---------- */
	#main-grid>section.menu {
		padding: 2rem;
	}
	
	/* ---------- location ---------- */
	#main-grid>section.location {
		padding: 2rem 5rem;
	}

	#map {
		height: 50vh;
		font-size: 0.5em;
	}

	/* ---------- action ---------- */
	section.action {
		display: none;
	}

	/* ---------- footer ---------- */
	#main-grid>footer {
		padding: 2rem;
	}

	footer > .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 2rem;
	}
	
}