/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {

	/* ---------- header ---------- */
	section.header {
		height: 45vh;
	}

	/* ---------- about container ---------- */

	/* ---------- menu ---------- */
	section.menu .menu-item .item {
		grid-column: span 1;
		padding: 0;
	}

	section.menu .menu-item .item>.image.container {
		height: 15rem;
		background-color: lightgrey;
		border-bottom: var(--primary-border);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	section.menu .menu-item .item:first-child>.image.container {
		background-image: url('../../../assets/pexels-polina-tankilevitch-5419221.jpg');
	}

	section.menu .menu-item .item:nth-child(2)>.image.container {
		background-image: url('../../../assets/pexels-geraud-pfeiffer-6608664.jpg');
	}


	section.menu .menu-item .item:nth-child(3)> .image.container{
		background-image: url('../../../assets/pexels-karolina-grabowska-4389641.jpg');
	}

	section.menu .menu-item .item>.content {
		padding: 1rem;
	}

	/* ---------- location ---------- */
	#map {
		height: 35vh;
	}

	/* ---------- action ---------- */
	section.action {
		height: 45vh;
	}

	section.action>.action.content {
		margin: 1rem 3rem;
	}

	/* ---------- footer ---------- */

}