<!-- =================== mobile navigation -->
<nav id="mobile">
	<button type="button" id="mobile-nav-close">
		<span class="material-symbols-outlined">close</span>
	</button>
	<div class="mobile-nav content">
		<h1>SubSational Subs</h1>
		<h3>Your summer sub destination.</h3>
		<ul class="nav-list mobile">
			<li class="nav-list-item mobile">
				<a href="index.html" class="nav-link current">Home</a>
			</li>
			<li class="nav-list-item mobile">
				<a href="index.html" class="nav-link">About</a>
			</li>
			<li class="nav-list-item mobile">
				<a href="index.html" class="nav-link">Contact</a>
			</li>
		</ul>
	</div>
</nav>