/* =================== google icons =================== */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url(./components/grid.css);
@import url(./components/fonts.css);
@import url(./components/buttons.css);

/* =================== global variables =================== */
:root {
	--primary-pink: #FEBAED;
	--primary-green: #AEA434;
	--primary-blue: #76B3D0;
	--primary-orange: #FF6C1F;
	--primary-yellow: #FDB52A;
	--primary-black: black;
	--primary-white: white;
	--primary-overlay-green: #6A6206;
	--primary-transition: 200ms ease-in;
	--primary-button-transition: 100ms ease-in;
	--primary-border: 4px solid var(--primary-black);
	--primary-transition: 350ms ease-in-out;
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =================== base page styles =================== */
body {
	font-family: var(--default-font);
	font-weight: var(--default-font-weight);
	font-size: var(--default-font-size);
	background-color: var(--primary-white);
	color: var(--primary-black);
}

.rotate {
	margin: 1rem 0;
	display: inline-block;
	transition: transform var(--primary-transition);
}

.rotate:hover {
	transform: rotate(2deg);
}