/* =================== header section =================== */
section.header {
	text-align: right;
	background-image: url('../assets/pexels-alex-green-5693056.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
}

section.header>.header.content {
	position: relative;
	z-index: 2;
	color: var(--primary-yellow);
	margin-bottom: 1rem;
}

section.header>.header.content>h1 {
	margin-bottom: 1rem;
}

section.header>.overlay {
	background-color: var(--primary-overlay-green);
	width: 100%;
	height: 100%;
	mix-blend-mode: overlay;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* =================== about section =================== */
section.about {
	text-align: center;
	background-color: var(--primary-white);
}

section.about>.about.content {
	padding: 1rem;
}

/* =================== menu container =================== */
section.menu {
	background-color: var(--primary-pink);
	text-align: center;
}

section.menu>.menu.content>h2 {
	margin-bottom: 1rem;
}

section.menu>.menu.content>.menu-item.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.menu-item.container>.item {
	grid-column: span 3;
	border: var(--primary-border);
	/* remove rotation margin */
	margin: 0;
	overflow: hidden;
}

.menu-item.container>.item>.image.container {
	height: 30vh;
	background-color: lightgrey;
	border-bottom: var(--primary-border);
}

.menu-item.container>.item:first-child>.image.container {
	background-color: var(--primary-white);
	background-image: url('../assets/pexels-polina-tankilevitch-5419221.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-item.container>.item:nth-child(2)>.image.container {
	background-color: var(--primary-white);
	background-image: url('../assets/pexels-geraud-pfeiffer-6608664.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-item.container>.item:last-child>.image.container {
	background-color: var(--primary-white);
	background-image: url('../assets/pexels-karolina-grabowska-4389641.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-item.container>.item>.content {
	background-color: var(--primary-white);
	padding: 1rem;
	height: 100%;
}

section.menu>.menu.content>.rotate.button {
	float: right;
	margin-top: 2rem;
}

/* =================== location section =================== */
section.location>.location.content h2 {
	margin-bottom: 1rem;
}

#map {
	height: 30vh;
	background-color: lightgrey;
	border: var(--primary-border);
}

/* =================== action section =================== */
#main-grid>section.action {
	padding: 0;
}

section.action {
	position: relative;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.action>.action.content {
	--primary-overlay-green: #6a6206c4;
	background-color: var(--primary-overlay-green);
	border: var(--primary-border);
	margin: 1rem;
	padding: 1rem;
}

section.action>.action.content>.rotate {
	margin-top: 2rem;
	float: right;
}

section.action>.video.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section.action>.video.container>video {
	object-fit: cover;
	height: 100%;
}

/* =================== footer section =================== */
footer {
	background-color: var(--primary-blue);
}

#main-grid>.section:last-child {
	padding-bottom: 3rem;
}

footer>.footer.content>.footer-links.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

footer .footer-links.container>.container {
	grid-column: span 1;
}

footer>.footer.content>#logo {
	font-weight: 500;
	font-size: 3.5em;
	margin-bottom: 1rem;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {

	/* ---------- header container ---------- */
	section.header {
		height: 35vh;
	}

	/* ---------- about container ---------- */

	/* ---------- menu container ---------- */
	.menu-item.container>.item {
		grid-column: span 1;
	}

	.menu-item.container>.item>.image.container {
		height: 20vh;
	}

	/* ---------- location container ---------- */
	#map {
		height: 35vh;
	}

	/* ---------- action container ---------- */
	section.action {
		height: 45vh;
	}

	section.action>.action.content {
		margin: 1rem 3rem;
	}

	/* ---------- footer container ---------- */
	footer>.footer.content>* {
		grid-column: span 1;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {

	/* ---------- header container ---------- */
	section.header {
		height: 75vh;
	}

	/* ---------- about container ---------- */
	/* ---------- menu container ---------- */
	.menu-item.container>.item>.image.container {
		height: 40vh;
	}

	/* ---------- location container ---------- */
	#main-grid>section.location {
		padding: 2rem 5rem;
	}

	#map {
		height: 50vh;
		font-size: 0.5em;
	}

	/* ---------- action container ---------- */
	section.action {
		height: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section.action>.action.content {
		margin: 1rem;
		padding: 4rem 15rem;
		text-align: center;
	}

	/* ---------- footer container ---------- */
	footer>.footer.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	footer>.footer.content>#logo {
		font-size: 7em;
	}

}